/* reset css start */ 
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* reset css end */ 

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  
  /* 
  border:1px solid red; 
  */
  
}

body {
  background-color: #fcfcfc;/* #fcfcfc #f3f3f3 #e6e6e6 #6f6f6f #717171 */
  min-width:320px;

}

html {
  font-size:12px;
}

#root {
  display:grid;
  grid-template-columns:1fr;
}

@media screen and (min-width: 320px){
  html {font-size:calc(12px + 4*((100vw - 320px)/(768 - 320)))}
}
@media screen and (min-width: 768px){
  html {font-size:16px;}
  
  #root {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows:4rem auto 1fr; /* header, banner, main+aside */
  }

  header {
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .banner {
    grid-column:1/4;
    grid-row: 2/3;
  }

  main {
    grid-column:1/3
    /* no need for grid-row here both main and aside are in third row*/
  }
  /* don't have to define grid-column for the other grid item - aside  */
  aside {
    align-self:start;
  }
}

header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color:white;
  /* box shadow offset x, offset y, blur, spread, colour*/
  box-shadow: 0 3px 10px 1px rgb(0 0 0 / 0.2);
  padding: 1rem 0rem;
}

header form {
  display: flex;
}
.brand {
  display:flex;
  justify-content:flex-start;
  align-items:center;
  margin-right:1.5rem;
  margin-left:2rem;
}

.logo {
  width:30px;
}

.appName {
  display:none;
  margin-left:0.5em;
}

.appNameLink {
  text-decoration:none;
  color:black;
}

.appNameLink p{
  text-decoration:none;
}
/* search bar component styling */ 
.searchBar {
  max-width: 700px;
  align-self: center;
  background-color: #e6e6e6;
  flex-grow:1;
}

.emptySearchResult {
  text-align:center;
  margin: 2em 1em;
}

.emptySearchResult .resetSearch {
  margin: 1em;
  padding: 0.5em;
  color:ghostwhite;
  font-weight:bold;
  background-color:#FF5700;
}

@media screen and (min-width: 425px){
  .appName {
    display:block;
  }
}
/* .banner */
.banner {
  background-color:gainsboro;
  padding: 0.5em;
  margin-top: 1.5em;
  text-align:center;
}

/* feed styling */ 

/* posts styling */
.posts {
  margin:0em 0.5em;
  overflow-wrap:break-word;
}

.postsList {
  list-style:none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}
/* post styling */
.post {
  display:flex;
  padding:0.5em;
  margin: 1em 0em;
  background-color:white;
  box-shadow: 0px 2px 5px 5px #e6e6e6;
  box-shadow: 0 3px 10px 1px rgb(0 0 0 / 0.2);
}

.postVotes {
  min-width: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top:0.5em;
}
.postContext {
  flex-grow: 1;
  /* 2 rules to stop text items within overflowing */
  min-width: 0;
  overflow:hidden;
  padding-right: 2em
}

.postContent {
  padding-bottom:1em;
}
.postContent h3 {
  margin:1em 0em;
}

.postContext figure {
  margin: 1em 0em 1em 0em; 
}

.postContext img {
  width: 100%;
  height: auto;
}

.postedResource {
  display: inline-block;
  margin:1em 0em;
}

.selftextHtml {
  margin:1em 0em 1em 0em;
}


.selftextHtml p{
  margin:1em 0em;
}

.postMetaData {
  display:flex;
  justify-content:space-between;
  padding:1em 0em;
  border-top: solid 1px gray;
}

.postLink {
  text-decoration:none;
  color:black;
}

.commentNumberContainer{
  display:flex;
}

.commentNumberContainer p{
  margin:0em 0.5em;
}

/* comments styling */ 
.comments {
  background-color: white;
  overflow-wrap:break-word;
}

.commentsList {
  list-style:none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}
/* comment styling */ 
.comment {
  padding:0.5em 1em 1em 1em;
  margin:1em 0em;
  background-color:#e6e6e6;
  overflow:hidden;
}
.comment p {
  margin:0.5em 0em;
}

.comment li {
  margin:0.3em 0em;
}

.commentKarma {
  color:rgb(83, 83, 83);
}

.commentData {
  display:flex;
  justify-content:space-between;
  margin-bottom:0.75em;
}
/* subreddits Container*/  
aside{
  margin:1em 0.5em;
  box-shadow: 0 3px 10px 1px rgb(0 0 0 / 0.2);
}

.redditsList{
  list-style:none;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-inline-start: 0px;
}
/* subreddits */
.subreddits {
  background-color:white;
  padding: 1em;
}

.subreddits h2 {
  margin-bottom:0.5em;
}

.subredditNav {
  color:black;
  text-decoration:none;
}

.selectedSubreddit{
  font-size:bold;
  color:red;
}

/* subreddit */
.subreddit {
  display:flex;
  padding:0.5em;
  align-items:center;
}
.subreddit figure {
  width:30px;
}
.subreddit h3{
  margin-left:0.5em;
}